* {
    margin: 0;
    padding: 0;
}

body {
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: hidden;
    height: 100vh;
}

::-webkit-scrollbar {
    display: none;
}

.taskbar {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #f3f3f3;
    z-index: 3;
}

.startMenu {
    position: absolute;
    bottom: -650px;
    width: 100%;
    text-align: center;
    transition: all 0.4s ease-in;
}

.startMenu img {
    max-width: 40%;
    height: auto;
    border-radius: 8px;
}

.right {
    justify-self: flex-end;
    position: absolute;
    right: 0;
    margin: 6px 0;
    height: 85%;
}

video {
    height: 100%;
    width: 177.77777778vh;
    min-width: 100%;
    min-height: 56.25vw;
    z-index: 2;
}